/*
Color
blue
#00468B
#128fC8;
#2ECBE9;

mustard
#FFE45C;

white
#EEEEEE;
*/

html,body {
    overflow-x:hidden;
}

body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-family: 'Nunito', sans-serif;
}


h1{
    font-size: 48px;
}

.subtitle{
    padding-top: 54px;
    font-size: 40px;
    margin-bottom: 0px;
}

.fa-brands{
    margin: 20px 30px 50px 0px;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #128fC8;
    color: #EEEEEE;
    position: fixed;
    opacity: 0.9;
    z-index: 5;
    width: 100%;
    top:0;
    margin: 0;
    min-height: 54px;
}

#doubleC{
    color: #EEEEEE;
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
}

.nav-menu{
    display: flex;
    list-style: none;
    margin: 10px 25px;
}

.nav-menu li{
    margin: 0 10px;
}

.nav-menu li a{
    text-decoration: none;
    color: #EEEEEE;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    
}
ul li a:hover{
    background-color: #2ECBE9;
    color: #FFE45C;
}

.hamburger{
    display:none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #EEEEEE;
}

#logo{
    font-weight: bold;
    font-size: 24px;
    margin: 10px 25px;
}
#separator{
    color: #00468B;
}

main{
    width: 100%;
}

#hero{
    font-family: 'Roboto', sans-serif;
    margin: 54px auto 0px auto;
    width: 100%;
    height: 500px;
    background-image: url(images/hero-keyboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-container{
    width: 85%;
    margin: 0 auto;
}
.heroText{
    margin-bottom: 10px;
    margin-top: 10px;
}
.heroSkills{
    margin-right: 50px;
    display: inline;
}

hr{
    z-index: 3;
    background-color: #EEEEEE;
}

#about-me,
#projects,
#skills,
#contact{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
.myName{
    color: #FFE45C;
}
#myPhoto{
    height: 200px;
    max-width: 170px;
    border-radius: 50%;
    box-shadow: 5px 5px 2px #555555
}



#myIntro{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #00468B;
    border-radius: 25px;
    padding: 10px 20px;
    color: #EEEEEE;
    box-shadow: 10px 10px 1px #555555
}

#about-container{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 50px;
}

#about-container p{
    max-width: 700px;
}

#projects-container{
    width: 85%;
    background-color: #00468B;
    border-radius: 25px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-container{
    margin:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EEEEEE;
    background-color: #128fC8;
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 400px;
    border-radius: 20px;
}

.project-container:hover,
.project-container:active{
    filter: saturate(130%);
    filter: brightness(1.2);
}

#teaCozy{
    background-image: url(images/teacozy.png);
}

#fatGuys{
    background-image: url(images/fatguys.png);
}

#crypto{
    background-image: url(images/crypto_app.png);
}

#recipe{
    background-image: url(images/receipe.png);
}
#fitness-pro{
    background-image: url(images/fitness-pro.png);
}

.project-link{
    cursor: pointer;
    text-decoration: none;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-description{
    margin-top: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.project-description p{
    margin-top: 3px;
}

.project-title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.project-skills{
    font-weight: bold;
}


/*
Skills
*/

#skills p{
    max-width: 1000px;
    margin: 20px 50px;
    font-size: 16px;
}

#skills-container{
    width: 85%;
    border-radius: 25px;
    min-height: 250px;
    background-color: #00468B;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    justify-content: space-around;
    align-items: center;
}

#skills-container img{
    height: 100px;
    margin: 25px 10px;
}

/*

Contact

*/


footer{  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#allContacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #00468B;
    width: 100%;
    color: #EEEEEE;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 50px;
}

#socialMedia{
    max-width: 400px;
    margin-left: 100px;
    margin-right: 100px;
}

#socialMedia a{
    text-decoration: none;
    color: white;
}

#socialMedia a:hover,
#socialMedia a:active{
    color: #FFE45C;
}

/*
Form
*/

form p{
    font-size: 24px;
}
label{
    font-size: 20px;
    margin-bottom: 5px;
}

#input-container{
    display: flex;
}

.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-right: 15px;
}
#input-message{
    width:500px;
    height: 100px;
    text-align: start;
    font-size: 16px;
    border-radius: 5px;
}
#input-name{
    font-size: 16px;
    height: 25px;
    border-radius: 5px;
}

#input-name:focus,
#input-email:focus,
#input-message:focus{
    outline-color: #FFE45C;
    outline-style:double;
    outline-width: 2px;
}


#input-email{
    font-size: 16px;
    height: 25px;
    border-radius: 5px;
}

#btnSubmit{
    background-color: #FFE45C;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
    border: #00468B 3px solid;
    color: #00468B;
}
#btnSubmit:hover{
    cursor: pointer;
    border: #128fC8 3px solid;
    color: #128fC8;
}

#btnSubmit:active{
    cursor: pointer;
    background-color:#128fC8;
    color:#EEEEEE
}

@media screen and (max-width:1200px) {
    #logo{
        margin-right: 10px;
    }
    #input-message{
        width:420px;
    }
    .nav-menu li a{
        font-size: 20px;
        padding: 5px;
    }

}

@media screen and (max-width:1000px){

    #logo{
        margin-bottom:0px
    }
    .subtitle{
        padding-top:54px ;
    }
    .heroSkills{
        margin-right: 20px;
        font-size: 14px;
    }
    #skills-container img{
        height: 80px;
        margin: 25px 5px;
    }

        /*for hamburger*/
        .hamburger{
            display: block;
        }
        .hamburger.active .bar:nth-child(2){
            opacity: 0;
        }
        .hamburger.active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
        .hamburger.active .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
    
        .nav-menu{
            position: fixed;
            left: -110%;
            top:54px;
            gap:0;
            flex-direction: column;
            align-items: center;
            width: 100%;
            background-color: #00468B;
            margin: 0 auto;
            opacity: 0.8;
        }
        .nav-menu li a:hover{
            padding: 0px;
            background-color: #00468B;
        }
        .nav-menu.active{
            left: 0;
        }
}

@media screen and (max-width:600px){

    #about-container{
        flex-direction: column;
        align-items: center;
    }
    #myPhoto{
        margin-bottom: 30px;
    }
    .heroSkills{
        font-size: 12px;
        margin-right: 20px;
    }
    #input-container{
        flex-direction: column;
    }

    #input-message{
        width: 300px;
    }
    
    #input-name,
    #input-email{
        width:250px;
    }

}
@media screen and (max-width:480px){

    .heroSkills{
        margin-right: 20px;
    }
}