/*
Color
blue
#00468B
#128fC8;
#2ECBE9;

mustard
#FFE45C;

white
#EEEEEE;
*/

html,body {
    overflow-x:hidden;
}

body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-family: 'Nunito', sans-serif;
}


h1{
    font-size: 48px;
}

.subtitle{
    padding-top: 54px;
    font-size: 40px;
    margin-bottom: 0px;
}

.fa-brands{
    margin: 20px 30px 50px 0px;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #128fC8;
    color: #EEEEEE;
    position: fixed;
    opacity: 0.9;
    z-index: 5;
    width: 100%;
    top:0;
    margin: 0;
}

#doubleC{
    color: #EEEEEE;
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
}

ul{
    display: flex;
    list-style: none;
    margin: 10px 25px;
}

ul li{
    margin: 0 10px;
}

ul li a{
    text-decoration: none;
    color: #EEEEEE;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    
}
ul li a:hover{
    background-color: #2ECBE9;
    color: #FFE45C;
}


#logo{
    font-weight: bold;
    font-size: 24px;
    margin: 10px 25px;
}
#separator{
    color: #00468B;
}

main{
    width: 100%;
}

#hero{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    background-image: url(images/hero-keyboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-container{
    width: 85%;
    margin: 0 auto;
}
.heroText{
    margin-bottom: 10px;
    margin-top: 10px;
}
.heroSkills{
    margin-right: 50px;
    display: inline;
}

hr{
    z-index: 3;
    background-color: #EEEEEE;
}

#about-me,
#projects,
#skills,
#contact{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
.myName{
    color: #FFE45C;
}
#myPhoto{
    height: 200px;
    max-width: 170px;
    border-radius: 50%;
    box-shadow: 5px 5px 2px #555555
}



#myIntro{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #00468B;
    border-radius: 25px;
    padding: 10px 20px;
    color: #EEEEEE;
    box-shadow: 10px 10px 1px #555555
}

#about-container{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 50px;
}

#about-container p{
    max-width: 700px;
}

#projects-container{
    width: 85%;
    height: 500px;
    background-color: #00468B;
    border-radius: 25px;
    margin-top: 50px;
}

#teaCozy{
    background-image: url(images/teacozy.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-color: #128fC8;
    width: 350px;
    height: 300px;
    border-radius: 20px;
}

/*
Skills
*/

#skills p{
    max-width: 1000px;
    margin: 20px 50px;
    font-size: 16px;
}

#skills-container{
    width: 85%;
    border-radius: 25px;
    min-height: 250px;
    background-color: #00468B;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
}

#skills-container img{
    height: 100px;
    margin: 25px 50px;
}

/*

Contact

*/


footer{  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#allContacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #00468B;
    width: 100%;
    color: #EEEEEE;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 50px;
}

#socialMedia{
    max-width: 400px;
    margin-left: 100px;
    margin-right: 100px;
}

#socialMedia a{
    text-decoration: none;
    color: white;
}

#socialMedia a:hover,
#socialMedia a:active{
    color: #FFE45C;
}

/*
Form
*/

form p{
    font-size: 24px;
}
label{
    font-size: 20px;
    margin-bottom: 5px;
}

#input-container{
    display: flex;
}

.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-right: 15px;
}
#input-message{
    width:500px;
    height: 100px;
    text-align: start;
    font-size: 16px;
    border-radius: 5px;
}
#input-name{
    font-size: 16px;
    height: 25px;
    border-radius: 5px;
}

#input-name:focus,
#input-email:focus,
#input-message:focus{
    outline-color: #FFE45C;
    outline-style:double;
    outline-width: 2px;
}


#input-email{
    font-size: 16px;
    height: 25px;
    border-radius: 5px;
}

#btnSubmit{
    background-color: #FFE45C;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
    border: #00468B 3px solid;
    color: #00468B;
}
#btnSubmit:hover{
    cursor: pointer;
    border: #128fC8 3px solid;
    color: #128fC8;
}

#btnSubmit:active{
    cursor: pointer;
    background-color:#128fC8;
    color:#EEEEEE
}

@media screen and (max-width:1200px) {
    ul li a{
        font-size: 20px;
        padding: 5px 8px;
    }
    #logo{
        margin-right: 10px;
    }
    #input-message{
        width:420px;
    }
}

@media screen and (max-width:1000px) {
    ul li a{
        font-size: 16px;
        padding: 3px 5px;
    }
    ul li{
        margin: 0px 5px;
    }
    #logo{
        margin-right: 10px;
    }

}

@media screen and (max-width:900px){
    nav{
        flex-direction: column;
    }
    #logo{
        margin-bottom:0px
    }
    .subtitle{
        padding-top:100px ;
    }
    .heroSkills{
        margin-right: 20px;
        font-size: 14px;
    }

}

@media screen and (max-width:600px){

    ul li a{
        font-size: 16px;
        padding: 3px 3px;
    }
    ul li{
        margin: 0px 2px;
    }
    #about-container{
        flex-direction: column;
        align-items: center;
    }
    #myPhoto{
        margin-bottom: 30px;
    }
    .heroSkills{
        font-size: 12px;
        margin-right: 20px;
    }
    #input-container{
        flex-direction: column;

    }
}
@media screen and (max-width:480px){
    ul li a{
        font-size: 12px;
        padding: 3px 1px;
    }
    ul li{
        margin: 0px 1px;
    }

    .heroSkills{
        margin-right: 20px;
    }
}